{% extends "base.html" %}

{% block content %}

    <!-- from: http://flask.pocoo.org/docs/patterns/flashing/ -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %} 
        </ul>
      {% endif %}
    {% endwith %}
  <div>
        Please enter the current email address you have in the system:
  </div>

  <div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email(size=50) }}</p>
        <p>{% for error in form.recaptcha.errors %}
                    {{ error }}
        {% endfor %}
        {{ form.recaptcha }}</p>
        <input type="submit" value="Go">
    </form>
  </div>
{% endblock %}     
