{% extends "base.html" %}

{% block content %}

    <!-- from: http://flask.pocoo.org/docs/patterns/flashing/ -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %} 
        </ul>
      {% endif %}
    {% endwith %}

  <form name="myform" action="" method="POST">
    <div align="left">
      User name: <input type="text" size="25" name="username" value="username"><br>
      Password: <input type="password" size="25" name="password" value="password"><br>
      <input type="submit" value="Log in">
      <a href="{{ url_for("forgot_password") }}">Forgot your
          password?</a>
    </div>
  </form>
  

{% endblock %}
